@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.linear-gradient {
  background: linear-gradient(
    179.14deg,
    rgba(32, 18, 63, 0) -7.14%,
    #000000 87.01%
  );
}

/* Brown gradient*/
/*.gradient-bg {
  background: linear-gradient(
    to bottom,
    #2a211c 0%,
    #443c30 5%,
    #6b5d4d 20%,
    #928975 35%,
    #b4a882 50%,
    #c3b299 65%,
    #dad3c5 80%,
    #f7f2e7 95%,
    #ffffff 100%
  );
}*/

/* Grey gradient */
.gradient-bg {
  background: linear-gradient(
    to bottom,
    #111111 0%,
    #222222 5%,
    #333333 20%,
    #444444 35%,
    #555555 50%,
    #666666 65%,
    #777777 80%,
    #888888 95%,
    #999999 100%
  );
}




input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: invert(0.8);
}

/*Pre Home*/
.pink_gradient {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 123px;
  height: 123px;
  border-radius: 50%;

  background: #fb37ff;
  filter: blur(200px);
}

.blue_gradient {
  position: absolute;
  bottom: 0%;
  right: 0%;
  width: 123px;
  height: 123px;
  border-radius: 50%;

  background: #18b2de;
  filter: blur(200px);
}